network:
  version: 2
  ethernets:
    {{ lan_interface }}:
      dhcp4: true
      nameservers:
        addresses:
          - {{ dns_primary_ip }}
          - {{ dns_secondary_ip }}
        search:
          - {{ domain }}
