network:
  version: 2
  ethernets:
    {{ lan_interface }}:
      addresses:
        - {{ ansible_host }}/24
      routes:
        - to: default
          via: {{ gateway }}
      nameservers:
        addresses:
          - {{ dns_primary_ip }}
          - {{ dns_secondary_ip }}
        search:
          - {{ domain }}
