http:
  routers:
{% for svc in traefik_services %}
    {{ svc.name }}:
      rule: "Host(`{{ svc.host }}`)"
      entryPoints: [websecure]
      service: {{ svc.name }}
      tls: {}
{% endfor %}

  services:
{% for svc in traefik_services %}
    {{ svc.name }}:
      loadBalancer:
        servers:
          - url: "{{ svc.url }}"
{% endfor %}

tls:
  stores:
    default:
      defaultGeneratedCert:
        resolver: infomaniak
        domain:
          main: "{{ domain }}"
          sans:
            - "*.{{ domain }}"
