[Interface]
Address = {{ peer.ip }}/32
PrivateKey = {{ peer.private_key }}
DNS = {{ dns_primary_ip }}, {{ dns_secondary_ip }}

[Peer]
PublicKey = {{ wireguard_server_public_key }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ wireguard_server_url }}:{{ wireguard_port }}
PersistentKeepalive = 25
