[Interface]
Address = 10.13.13.1/24
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wireguard_server_private_key }}
SaveConfig = false

# NAT pour le trafic VPN vers le LAN
PostUp   = iptables -t nat -A POSTROUTING -s {{ wireguard_internal_subnet }} -o {{ lan_interface }} -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -s {{ wireguard_internal_subnet }} -o {{ lan_interface }} -j MASQUERADE

{% for peer in wireguard_peers_list %}
[Peer]
# {{ peer.name }}
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.ip }}/32
{% endfor %}
